*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.body{
    background: black;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list{
    display: flex;
    gap: 50px;
}
.header__link {
    text-decoration: none;
    font-family: CircularStd, sans-serif;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: -0.5002105832099915px;
    text-align: right;
    color:#FFFF;
    transition: all 0.7s ease;
    position: relative; 
    display: inline-block;
}
.header__link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2b2b2e;
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease;
}
.header__link:hover::after {
    transform: scaleX(1); 
    background-color: #F04037; 
}
.header__link:hover{
    transform: scale(1.1);
    color: red;
}
.header__btn{
    border-radius: 5px;
    border: none;
    margin-left: 50px;
    line-height: 36px;
    text-align: left;  
    padding: 5px 10px;
    color: #FFFF;
    font-size: 15px;
    background:red;
}
.header__btn:hover{
   background: red;
   transition: 0.5s;
   color: #FFFF;
   border-radius: 5px;
   transform: scale(1.1);
}

/* <----------------------------------------------------------------------hero-----------------------------------------------------------> */

.hero__container{
    margin-top: 201px;
    position: relative;
    gap: 70px;
    display: flex;
    align-items: center;
}
.hero__title{
    margin-top: 30px;
    color: #FFFF;
    width: 582px;
    height: 252px;
    font-family: "CircularStd" ,sans-serif;
    font-size: 80px;
    line-height: 84px;
    letter-spacing: -2.5010528564453125px;
    text-align: left;    
        
}
.hero__text{
    margin-top: 30px;
    font-family: "CircularStd" ,sans-serif;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.6565263867378235px;
    text-align: left;    
    color:#FFFF;
    width: 536px;
    height: 117px;
}
.hero__text-one{
    position: absolute;
    bottom: 70px;
    border-radius: 50%;
    background: blue;
    width: 380px;
    height: 380px;
}
.hero__img{
    position: absolute;
    top: 30px;
}
.hero__item-one{
    text-align: center;
    position: absolute;
    width: 320px;
    height: 410px;
    border: 1px solid wheat;
    background: #FFFF;
    border-radius: 10px;
    bottom: 40px;
    left: 700px;
}
.hero__input{
    margin-top: 10px;
    width: 280px;
    height: 70px;
    border: 1px solid #EAE9F2 
}
.hero__text-two{
    border: 1px solid #FFFF;
    left: 50px;
    top: 0px;
    position: absolute;
    font-family: "CircularStd" ,sans-serif;
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: -0.5627368688583374px;
    text-align: left;
    color: #696871;    
}    
.hero__btn{
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    line-height: 36px;
    text-align: left;  
    padding: 10px 80px;
    color: #FFFF;
    font-size: 15px;
    background:red;
}
.hero__btn:hover{
   border: 1px solid yellow;
   background:yellow;
   transition: 0.5s;
   color:black;
   border-radius: 5px;
   transform: scale(1.1);
}

/* <-----------------------------------------------------------------hover-----------------------------------------------------------------> */

.hover__container{
    position: relative;
    text-align: center;
}
.hover__title{
    margin-top: 30px;
    color: #FFFF;
    font-family: "CircularStd" ,sans-serif;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.875789999961853px;
    position: absolute;
    width: 525px;
    height: 140px; 
    left: 400px;
}
.hover__text{
    left: 450px;
    top: 230px;
    position: absolute;
    color: #FFFF;
    font-family: "CircularStd" ,sans-serif;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.6565263867378235px;
    text-align: center;    
}

/* ---------------------------------------------------------------wrap---------------------------------------------------------------- */

.wrap__container{
    position: relative;
}
.wrap__img{
    margin-top: 300px;
}
.wrap__img-one{
    position: absolute;
    left: 550px;
    bottom: 370px;
}

/* -------------------------------------------------------------main------------------------------------------------------------------- */
.main__list{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.main__item{
    margin: 50px;
    border: 1px solid white;
    width: 300px;
}
.main__title{
    margin-left: 20px;
    margin-top: 10px;
    width: 250px;
    height: 30px;
    font-family: "CircularStd" ,sans-serif;
    font-size: 24px;
    line-height: 28.13px;
    letter-spacing: -0.7503158450126648px;
    text-align: center;
    color: #FFFFFF;
}
.main__text{
    margin-left: 30px;
    margin-top: 10px;
    width: 246px;
    height: 56px;
    font-family: "CircularStd" ,sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.5002105832099915px;
    text-align: center;
    color: #FFFFFF;    
}
/* -----------------------------------------------------------------menu--------------------------------------------------------------------- */
.menu__container{
    margin-top: 200px;
    position: relative;
}
.menu__list{
    gap: 100px;
    display: flex;
}
.menu__img{
    position: absolute;
    right: 880px;
    bottom: 360px;
    width: 290px;
    height: 290px;
    background: rgba(0, 0, 255, 0.419);
    border-radius: 50%;
}
.menu__btn{
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    line-height: 36px;
    text-align: left;  
    padding: 10px 60px;
    color: #FFFF;
    font-size: 15px;
    background:blue;
}
.menu__btn:hover{
   border: 1px solid red;
   background:yellow;
   transition: 0.5s;
   color:black;
   border-radius: 5px;
   transform: scale(1.1);
}
.menu__title{
    margin-top: 20px;
    font-family: "CircularStd" ,sans-serif;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.875789999961853px;
    text-align: left;
    color: #FFFFFF;
    width: 511px;
    height: 140px;
}
.menu__text{
    margin-top: 20px;
    font-family: "CircularStd" ,sans-serif;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.6565263867378235px;
    text-align: left;
    color: #FFFFFFB2;
    width: 511px;
    height: 117px; 
}

/* --------------------------------------------------------------------------------hello--------------------------------------------------- */

.hello__container{
    text-align: center;
}
.hello__title{
    margin-top: 30px;
    font-family: "CircularStd" ,sans-serif;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.875789999961853px;
    text-align: center; 
    color: #FFFFFF;     
}
.hello__text{
    margin-left: 250px;
    font-family: "CircularStd" ,sans-serif;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.6565263867378235px;
    text-align: center;
    color: #FFFFFFB2;  
    width: 627px;
    height: 117px;
    margin-top: 30px;
}

/* ----------------------------------------------------------------------head----------------------------------------------------------- */

.head__container{
    display: flex;
}

/* -----------------------------------------------------------------------botton--------------------------------------------------------- */

.botton__container{
    display: flex;
    gap: 50px;
}
.botton__title{
    margin-top: 10px;
    font-family: "CircularStd" ,sans-serif;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.875789999961853px;
    text-align: left;  
    color: #FFFFFF;  
    width: 555px;
    height: 140px; 
}
.botton__list{
    margin-left: 40px;
}
.botton__text{
    margin-top: 80px;
    font-family: "CircularStd" ,sans-serif;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.6565263867378235px;
    text-align: left;  
    width: 511px;
    height: 117px;
    color: #FFFFFF;   
}
.botton__btn{
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    line-height: 36px;
    text-align: left;  
    padding: 10px 60px;
    color: #FFFF;
    font-size: 15px;
    background:red;
}
.botton__btn:hover{
   border: 1px solid yellowgreen;
   background:yellow;
   transition: 0.5s;
   color:black;
   border-radius: 5px;
   transform: scale(1.1);
}

/* ---------------------------------------------------------------------------gren----------------------------------------------------- */

.gren__container{
    text-align: center;
}
.gren__title{
    font-family: "CircularStd" ,sans-serif;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.875789999961853px;
    text-align: center;
    color: #FFFFFF;        
}
.gren__text{
    font-family: "CircularStd" ,sans-serif;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.6565263867378235px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

/* --------------------------------------------------------------------yellow-------------------------------------------------------------- */

.yellow__container{
    display: flex;
}
.yellow__item{
    margin: 30px;
}
.yellow__title{
    font-family: "CircularStd" ,sans-serif;
    font-size: 24px;
    line-height: 28.13px;
    letter-spacing: -0.7503158450126648px;
    text-align: left;
    color: #FFFFFF;
    width: 520px;
    height: 30px;
}
.yellow__text{
    margin-top: 20px;
    font-family: "CircularStd" ,sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.5002105832099915px;
    text-align: left;
    color: #FFFFFFB2;
    width: 550px;
    height: 112px;  
}

/* --------------------------------------------------------------------number-------------------------------------------------------------- */

.number__container{
    text-align: center;
}
.number__text{
    color: #FFFFFF;
    font-family: "CircularStd" ,sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.5002105832099915px;
    text-align: center;    
}
.number__link {
    margin-left: 30px;
    text-decoration: none;
    font-family: CircularStd, sans-serif;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: -0.5002105832099915px;
    text-align: right;
    color:#FFFF;
    transition: all 0.7s ease;
    position: relative; 
    display: inline-block;
}
.number__link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2b2b2e;
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease;
}
.number__link:hover::after {
    transform: scaleX(1); 
    background-color: #F04037; 
}
.number__link:hover{
    transform: scale(1.1);
    color: red;
}

/* -----------------------------------------------------------brend----------------------------------------------------------- */

.brend__container{
    margin-top: 200px;
    position: relative;
    display: flex;
    align-items: center;
}
.brend__title{
    font-family: "CircularStd" ,sans-serif;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.875789999961853px;
    text-align: left;  
    color: #FFFFFF;  
    width: 650px;
    height: 140px;
}
.brend__btn{
    position: absolute;
    left: 700px;
    border-radius: 5px;
    border: 1px solid transparent;
    line-height: 36px;
    text-align: left;  
    padding: 10px 60px;
    color: #FFFF;
    font-size: 15px;
    background:red;
}
.brend__btn:hover{
   border: 1px solid yellowgreen;
   background:yellow;
   transition: 0.5s;
   color:black;
   border-radius: 5px;
   transform: scale(1.1);
}
.brend__img{
    position: absolute;
    left: 750px;
}

/* ---------------------------------------------------------------fooder---------------------------------------------------------------- */

#burger{
    color:white;
    /* background-color: wheat; */
    box-shadow: 5px 5px solid white;
    font-size: 30px;
    display: none;
}
.fooder__container{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fooder__list{
    display: flex;
    gap: 30px;
}
.fooder__link {
    text-decoration: none;
    font-family: CircularStd, sans-serif;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: -0.5002105832099915px;
    text-align: right;
    color:#FFFF;
    transition: all 0.7s ease;
    position: relative; 
    display: inline-block;
}
.fooder__link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease;
}
.fooder__link:hover::after {
    transform: scaleX(1); 
    background-color: red; 
}
.fooder__link:hover{
    transform: scale(1.1);
    color: red;
}


@media (max-width: 1200px) {
    .container {
     width: 1100px;
    }
    
   
  }
  @media (max-width: 1100px) {
    .container {
     width: 1000px;
    }
    
   
  }
  @media (max-width: 1000px) {
    .container {
     width: 900px;
    }
    
   
  }
  @media (max-width: 900px) {
    .container {
     width: 800px;
    }
    .main__list{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        flex-wrap: wrap;
    }
    .main__item{
        width: 270px;
    }
    .main__text{
        margin: auto
        ;
    }
    
   
  }
  @media (max-width: 800px) {
    .container {
     width: 700px;
    }
    .main__item{
        width: 570px;
        height: 200px;
        text-align: center;
    }
    .main__title{
        margin: auto;
    }
    

    
   
  }
  @media (max-width: 700px) {
    .container {
     width: 600px;
    }
    #burger{
        display: block;
    }
    .header__list{
        display: none;
    }
    .header__btn{
        display: none;
    }
    
   
  }
  @media (max-width: 600px) {
    .container {
     width: 500px;
    }
    
   
  }
  @media (max-width: 500px) {
    .container {
     width: 400px;
    }
    .main__item{
        width: 300px;
        height: 200px;
        text-align: center;
    }
   
  }
  @media (max-width: 400px) {
    .container {
     width: 300px;
    }
    .main__item{
        width: 270px;
        height: 200px;
        text-align: center;
        margin: 5px;
    }
   
  }