/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.body {
    background: rgb(0, 0, 0);
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* ---------------------------------------------------------------header--------------------------------------------------------- */

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list {
    display: flex;
    gap: 50px;
}
.header__link {
    text-decoration: none;
    font-family: CircularStd, sans-serif;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: -0.5px;
    color: #ffffff;
    position: relative;
    transition: all 0.7s ease;
}
.header__link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #18181a;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.header__link:hover::after {
    transform: scaleX(1);
    background-color: #F04037;
}
.header__link:hover {
    transform: scale(1.1);
    color: rgb(255, 0, 0);
}
.header__button {
    border-radius: 5px;
    border: none;
    margin-left: 50px;
    line-height: 36px;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 15px;
    background: rgb(255, 0, 0);
    transition: 0.5s;
}
.header__button:hover {
    background: rgb(255, 0, 0);
    transform: scale(1.1);
}

/* ----------------------------------------------------------------------hero--------------------------------------------------- */

.hero__container {
    margin-top: 201px;
    display: flex;
    align-items: center;
    gap: 70px;
    position: relative;
}
.hero__title {
    color: #ffffff;
    width: 582px;
    font-family: "CircularStd", sans-serif;
    font-size: 80px;
    line-height: 84px;
    text-align: left;
}
.hero__text {
    font-family: "CircularStd", sans-serif;
    font-size: 21px;
    line-height: 39px;
    text-align: left;
    color: #fffdfd;
    width: 536px;
    height: 117px;
}
.hero__circle {
    position: absolute;
    bottom: 70px;
    border-radius: 50%;
    background: rgb(0, 0, 255);
    width: 380px;
    height: 380px;
}
.hero__image {
    position: absolute;
    top: 30px;
}
.hero__button {
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    line-height: 36px;
    padding: 10px 80px;
    color: #ffffff;
    font-size: 15px;
    background: rgb(211, 2, 2);
}
.hero__button:hover {
    border: 1px solid rgb(240, 240, 5);
    background: rgb(255, 255, 0);
    color: rgb(0, 0, 1);
    transform: scale(1.1);
}

/* -----------------------------------------------------------Features Section-------------------------------------------------- */
.features__container {
    position: relative;
    text-align: center;
}
.features__title {
    margin-top: 31px;
    color: #ffffff;
    font-family: "CircularStd", sans-serif;
    font-size: 61px;
    position: absolute;
    width: 525px;
    height: 141px;
    left: 400px;
}
.features__text {
    position: absolute;
    color: #ffffff;
    font-family: "CircularStd", sans-serif;
    font-size: 20px;
    top: 231px;
    left: 451px;
    text-align: center;
}

/* ----------------------------------------------------------Showcase Section--------------------------------------- */

.showcase__container {
    position: relative;
}
.showcase__image {
    margin-top: 300px;
}
.showcase__image-secondary {
    position: absolute;
    left: 551px;
    bottom: 370px;
}

/*------------------------------------------------------------ Main Section ----------------------------------------------*/

.main__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main__item {
    margin: 51px;
    border: 3px solid rgb(253, 250, 250);
    width: 300px;
}
.main__title {
    margin-top: 11px;
    font-family: "CircularStd", sans-serif;
    font-size: 24px;
    text-align: center;
    color: #fffefe;
}
.main__text {
    margin-top: 11px;
    color: #ffffff;
    text-align: center;
}
